body {
    background: white;
    color: black;
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed; /* prevent content from overflowing in mobile browsers */
}

span {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); /* disable the highlight that appears while being tapped */
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    position: fixed;
    transition: all 1s ease;
    user-select: none;
}

span:focus {
    background: white;
    font-size: 4rem;
    left: 0px!important;
    padding: 1rem;
    right: 0px;
    text-align: center;
    top: 0px!important;
    z-index: 1;
}

span:focus:after {
    content: "U+" attr(data-code-point);
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    margin-left: 1rem;
    vertical-align: middle;
}